
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Unbounded', cursive;
}
body{
    background: #ffffff;
}
.header{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.logo img{
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
.name{
    font-size: 35px;
    margin-top: 30px;
    margin-left: 10px;
}
.name div{
    text-align: center;
}
.btn{
    margin-top: 30px;
    margin-right: 50px;
    
}
.btn button{
    padding: 10px;
    border-radius: 5px;
    background:black;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    margin-top: 50px;
    font-size: 25px;
}
#input input{
    padding: 14px;
    border-radius: 10px;
    width: 40vh;
    margin-top: 15px;
    background-color: rgb(228, 228, 228);
    font-size: 15px;
}
#input i{
    background-color: black;
    font-size: 25px;
    padding: 10px;
    border-radius: 100%;
    color: #ffffff;
    cursor: pointer;
    
}
#card{
    display: grid;
    place-items:center;
    margin: 10px 5rem;
    border-radius: 10px;
    padding: 50px;
    gap: 20px;
    background-color: rgb(209, 209, 209);
    font-size: 20px;
}
#card i{
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s;
}
#card button{
    border: none;
    outline: none;
    background-color: rgb(209, 209, 209);
    
    
}

/*------------------------------------------history---------------------------------------------*/


.newDiv{
    background: rgb(209, 209, 209);
    height: auto;
    width: 23%;
    display: flex;
    flex-direction: column;
    padding: 2% 2%;
    margin: 3% 3%;
    border: 1px solid black;
    overflow: auto;
    
}
.newDiv span{
    font-size: 20px;
}
#dlt{
    margin-left: auto;
    margin-top: auto;
    cursor: pointer;
    font-size: 150%;
}
.historyPage{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-content: center;
}
.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.empty img{
    width: 10%;
    margin-top: 5%;
}
.empty span{
    font-weight: bold;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
}




/*----------------------------------responsiveness-------------------------------------*/

@media only screen and (max-width:750px) {
    .name{
        font-size: 20px;
        
    }
    .logo{
        display: none;
    }
    .logo img{
        width: 70px;
        height: 70px;
        
    }
    .btn {
       margin:22px 1px;
    }
    .search p{
        font-size: 20px;
    }
    #input input{
        padding: 10px;
        font-size: 12px
    }
    #input i{
        font-size: 20px;
    }
    #card{
        font-size: 15px;
    }
    .newDiv{
        width: 39%;
    }
    #input input{
        width: 31vh;
    }
}